@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(#e66465, #9198e5);
}
